<div class="bg-black text-white" id="faq">
  <div class="container">
    <div class="py-5">
      <div class="row">
        <div class="col-xl-4">
          <h1 class="mb-0 fw-medium">Dúvidas frequentes</h1>
          <p class="mb-0 fw-medium">Você ainda tem alguma dúvida?<br>Chama no chat!</p>
        </div>
        <div class="col-xl-8">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-black text-white shadow-none" style="border: 1px solid; border-bottom: 0;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  O que é o ProtectED?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">O ProtectED é um aplicativo que permite denúncias anônimas de incidentes preocupantes. Ele foi projetado para ajudar a criar um ambiente seguro e livre de problemas, permitindo que os usuários relatem de forma segura e confidencial qualquer situação que exija atenção.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-black text-white shadow-none" style="border: 1px solid; border-bottom: 0;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Como faço uma denúncia anônima pelo ProtectED?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">É fácil! Basta baixar o aplicativo ProtectED, criar uma conta e seguir as instruções para registrar sua denúncia. Asseguramos que suas informações pessoais permanecerão confidenciais e sua identidade será protegida.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-black text-white shadow-none" style="border: 1px solid; border-bottom: 0;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Posso denunciar diferentes tipos de incidentes pelo ProtectED?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Sim, definitivamente! O ProtectED foi projetado para permitir que você denuncie uma ampla variedade de incidentes preocupantes, como bullying, assédio, vandalismo, comportamento violento, entre outros. Sinta-se à vontade para reportar qualquer situação que afete a sua segurança e bem-estar.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-black text-white shadow-none" style="border: 1px solid; border-bottom: 0;" type="button" data-bs-toggle="collapse" data-bs-target="#four" aria-expanded="false" aria-controls="four">
                  Minha denúncia será tratada com confidencialidade?
                </button>
              </h2>
              <div id="four" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Sim, absolutamente! Levamos a sério a confidencialidade das informações fornecidas pelos usuários. Todas as denúncias são tratadas com o mais alto grau de sigilo e apenas as partes relevantes terão acesso às informações necessárias para investigação e resolução.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-black text-white shadow-none" style="border: 1px solid; border-bottom: 0;" type="button" data-bs-toggle="collapse" data-bs-target="#five" aria-expanded="false" aria-controls="five">
                  Como acompanho o progresso da minha denúncia?
                </button>
              </h2>
              <div id="five" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">O ProtectED oferece um recurso de acompanhamento de casos para que você possa acompanhar o progresso de sua denúncia. Você receberá atualizações regulares sobre as ações tomadas em relação ao seu relatório.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-black text-white shadow-none" style="border: 1px solid; border-bottom: 0;" type="button" data-bs-toggle="collapse" data-bs-target="#six" aria-expanded="false" aria-controls="six">
                  Posso enviar mensagens adicionais sobre a minha denúncia?
                </button>
              </h2>
              <div id="six" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Sim! O ProtectED possui um recurso de comunicação segura que permite enviar mensagens adicionais ou esclarecer informações relacionadas à sua denúncia. Essas mensagens são criptografadas para garantir a segurança e a privacidade da comunicação.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-black text-white shadow-none" style="border: 1px solid; border-bottom: 0;" type="button" data-bs-toggle="collapse" data-bs-target="#seven" aria-expanded="false" aria-controls="seven">
                  O ProtectED está disponível para todas as escolas?
                </button>
              </h2>
              <div id="seven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Sim, o ProtectED está disponível para escolas em todo o país. Temos o orgulho de trabalhar em parceria com mais de 2.000 escolas comprometidas em garantir um ambiente seguro para seus alunos.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-black text-white shadow-none" style="border: 1px solid;" type="button" data-bs-toggle="collapse" data-bs-target="#eight" aria-expanded="false" aria-controls="eight">
                  Como faço para baixar o aplicativo ProtectED?
                </button>
              </h2>
              <div id="eight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Você pode baixar o aplicativo ProtectED gratuitamente na loja de aplicativos do seu dispositivo móvel. Ele está disponível para iOS e Android. Basta pesquisar "ProtectED" na loja e seguir as instruções de instalação.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 border-top pt-3 border-dark-subtle">
        <h5 class="mb-0 fw-semibold">Protect<span class="fw-bold">ED</span></h5>
        <p class="mb-0">ProtectED 2023 ● Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>