<div class="hero">
  <div class="container text-white">
    <div class="py-5">
      <div class="row">
        <div class="col-xl-6 d-flex flex-column justify-content-center">
          <h1 class="text-start">Quebrando o silêncio das crianças. Fale mais alto!</h1>
          <p class="mb-0 my-4">
            Explore a dura realidade: 85% dos estudantes sofrem com bullying ou exclusão. Com o ProtectED, uma plataforma online de denúncias anônimas, alunos e pais podem reportar problemas, promovendo uma resolução ágil pela escola. Junte-se a uma comunidade de 2.000 escolas comprometidas em proteger e apoiar seus alunos. Unidos, construímos um ambiente escolar seguro e acolhedor para todos.
          </p>
          <div class="p-2 w-100 bg-success rounded-pill text-white subtitle mt-5 px-4 text-center fs-11"><i class="bi bi-shield-check float-start"></i>Toda a comunicação é anônima e criptografada. Saiba mais sobre o anonimato.</div>
        </div>
        <div class="col-xl-6">
          <div class="card bg-white rounded-0">
            <div class="card-body rounded-0 p-5">
              <h3 class="text-start mb-3">Porque é que os alunos precisam da sua ajuda?</h3>
              <h5 class="text-start mb-3">Proteja. Denuncie. Capacite.</h5>
              <p class="mb-0 bg-orange border-0 text-white p-2 rounded-0 btn me-1 mt-1">✱ Têm medo de falar sobre o assunto</p>
              <p class="mb-0 bg-orange border-0 text-white p-2 rounded-0 btn me-1 mt-1">✱ Eles não sabem a quem contar</p>
              <p class="mb-0 bg-orange border-0 text-white p-2 rounded-0 btn me-1 mt-1">✱ Têm medo de represálias</p>
              <p class="mb-0 bg-orange border-0 text-white p-2 rounded-0 btn me-1 mt-1">✱ Não têm mais ninguém a quem confiar</p>
              <button class="btn btn-orange rounded-0 mt-4 w-100 p-3 fw-medium fs-5">Fazer denúncia</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="py-5">
    <div class="row align-items-start">
      <div class="col-xl-4 d-flex flex-column justify-content-center align-items-center">
        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.58214 21.3819C4.58208 30.6603 12.1037 38.182 21.3821 38.182C30.6604 38.182 38.182 30.6604 38.182 21.382C38.182 12.1037 30.6604 4.58203 21.3821 4.58203C12.1038 4.58203 4.5822 12.1036 4.58214 21.3819Z" fill="#E85D04"></path>
          <path d="M16.0361 20.618L20.2361 24.818L27.4907 17.5635" stroke="white" stroke-width="2.5"></path>
        </svg>
        <h5 class="text-center my-2">Formulário de denúncia personalizado</h5>
        <p class="text-center fw-medium text-muted">Pode editar o formulário como desejar, incluindo texto, logótipos e categorias de denúncia.</p>
      </div>
      <div class="col-xl-4 d-flex flex-column justify-content-center align-items-center">
        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.58214 21.3819C4.58208 30.6603 12.1037 38.182 21.3821 38.182C30.6604 38.182 38.182 30.6604 38.182 21.382C38.182 12.1037 30.6604 4.58203 21.3821 4.58203C12.1038 4.58203 4.5822 12.1036 4.58214 21.3819Z" fill="#E85D04"></path>
          <path d="M16.0361 20.618L20.2361 24.818L27.4907 17.5635" stroke="white" stroke-width="2.5"></path>
        </svg>
        <h5 class="text-center my-2">Opção anónima</h5>
        <p class="text-center fw-medium text-muted">O ProtectED garante o anonimato dos denunciantes, mas também podem revelar a sua identidade sempre que o quiserem.</p>
      </div>
      <div class="col-xl-4 d-flex flex-column justify-content-center align-items-center">
        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.58214 21.3819C4.58208 30.6603 12.1037 38.182 21.3821 38.182C30.6604 38.182 38.182 30.6604 38.182 21.382C38.182 12.1037 30.6604 4.58203 21.3821 4.58203C12.1038 4.58203 4.5822 12.1036 4.58214 21.3819Z" fill="#E85D04"></path>
          <path d="M16.0361 20.618L20.2361 24.818L27.4907 17.5635" stroke="white" stroke-width="2.5"></path>
        </svg>
        <h5 class="text-center my-2">Ligação a outros canais</h5>
        <p class="text-center fw-medium text-muted">ProtectED pode ser facilmente integrado com a intranet, website, ou aplicação da sua empresa.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-light" id="resources">
  <div class="container">
    <div class="py-5">
      <h2 class="text-start">Recursos que a ProtectED oferece.</h2>
      <div class="row">
        <div class="col-xl-4 mt-4">
          <div class="card bg-white rounded-0 border-0">
            <div class="card-body bg-white rounded-0 border-0 p-5">
              <i class="bi text-orange bi-person-slash fs-2"></i>
              <h3 class="text-start my-3">Denúncias anônimas</h3>
              <h6 class="text-start mb-3">Proteja sua identidade ao relatar problemas ou incidentes preocupantes.</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-4 mt-4">
          <div class="card bg-white rounded-0 border-0">
            <div class="card-body bg-white rounded-0 border-0 p-5">
              <i class="bi text-orange bi-shield-lock fs-2"></i>
              <h3 class="text-start my-3">Segurança garantida</h3>
              <h6 class="text-start mb-3">Mantemos suas informações pessoais em sigilo absoluto.</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-4 mt-4">
          <div class="card bg-white rounded-0 border-0">
            <div class="card-body bg-white rounded-0 border-0 p-5">
              <i class="bi text-orange bi-check-lg fs-2"></i>
              <h3 class="text-start my-3">Fácil de usar</h3>
              <h6 class="text-start mb-3">Interface intuitiva e amigável, projetada para facilitar o processo de denúncia.</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-4 mt-4">
          <div class="card bg-white rounded-0 border-0">
            <div class="card-body bg-white rounded-0 border-0 p-5">
              <i class="bi text-orange bi-people fs-2"></i>
              <h3 class="text-start my-3">Acompanhamentos</h3>
              <h6 class="text-start mb-3">Fique atualizado sobre o progresso e as ações tomadas em relação à sua denúncia.</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-4 mt-4">
          <div class="card bg-white rounded-0 border-0">
            <div class="card-body bg-white rounded-0 border-0 p-5">
              <i class="bi text-orange bi-soundwave fs-2"></i>
              <h3 class="text-start my-3">Comunicação segura</h3>
              <h6 class="text-start mb-3">Mantenha-se conectado com a equipe responsável por meio de mensagens criptografadas.</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-4 mt-4">
          <div class="card bg-white rounded-0 border-0">
            <div class="card-body bg-white rounded-0 border-0 p-5">
              <i class="bi text-orange bi-clock fs-2"></i>
              <h3 class="text-start my-3">Suporte 24 horas</h3>
              <h6 class="text-start mb-3">Nossa equipe está disponível para ajudar e fornecer suporte em todos os momentos.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white not-mobile-section" id="app">
  <div class="container">
    <div class="row different-row" style="height: 700px">
      <div class="col-xl-6 d-flex flex-column align-items-start justify-content-center">
        <h2 class="text-start">Em breve nosso app disponível em todas as lojas digitais.</h2>
        <div class="d-flex flex-row mt-5">
          <img src="/assets/images/apple-btn.png" alt="" height="50" class="me-3">
          <img src="/assets/images/gplay-btn.png" alt="" height="50">
        </div>
      </div>
      <div class="col-xl-6 different-col d-flex flex-column align-items-center justify-content-center" style="position: relative;">
        <img src="/assets/images/aaaaaaa.png" alt="" width="800" style="position: absolute; right: 0;">
        <div class="bg-white border-white rounded-circle shadow mt-4 position-relative" style="padding: 2.4rem;">
          <img src="/assets/images/bear.png" alt="" height="40">
          <img src="/assets/images/rotate.png" alt="" height="90" class="rotate" style="position: absolute; left: 14px; top: 8px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white mobile-section" id="app">
  <div class="container">
    <div class="py-5">
      <div class="row different-row">
        <div class="col-xl-12 d-flex flex-column align-items-start justify-content-center">
          <h2 class="text-start">Em breve nosso app disponível em todas as lojas digitais.</h2>
          <div class="d-flex flex-row mt-5 align-items-center">
            <div class="bg-white border-white rounded-circle me-4 shadow position-relative" style="padding: 2.4rem;">
              <img src="/assets/images/bear.png" alt="" height="40">
              <img src="/assets/images/rotate.png" alt="" height="90" class="rotate" style="position: absolute; left: 14px; top: 8px;">
            </div>
            <img src="/assets/images/apple-btn.png" alt="" height="50" class="me-3">
            <img src="/assets/images/gplay-btn.png" alt="" height="50">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>