/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.fs-10 {
    font-size: 10pt !important;
}
.fs-11 {
    font-size: 11pt !important;
}
.fs-12 {
    font-size: 12pt !important;
}

.pointer {
    cursor: pointer!important;
}

.text-orange {
    color: #E85D04 !important;
}
.bg-orange {
    background-color: #E85D04 !important;
}

.btn-orange {
    border: 1px solid #E85D04 !important;
    color: #E85D04 !important;
    svg {
        fill: #E85D04 !important;
    } 

    &:hover {
        background-color: #E85D04 !important;
        color: #fff !important;
        svg {
            fill: #ffffff !important;
        } 
    }
}